root{
/*** colors ***/
    --taffy-pink: #FDA3C4;
    --big-pink: #FFD4E4;
    --red: #F40000;
    --umbra: #1F1F1F;
    --sweetly: #FFE6EF;
    --white: #FFFFFF;
    --grey: #909090;
    --black: #000;
    --lightpink: rgba(253, 163, 196, 0.8);
    --lightblack: rgba(0, 0, 0, 0.77);

/*** fonts ***/
  --primary-ff: 'Montserrat', sans-serif;
  --secondary-ff: "Sunday Best", sans-serif;
  --light-fw: 300;
  --regular-fw: 400;
  --medium-fw: 500;
  --semibold-fw: 600;
  --bold-fw: 700;
}

  
  