.contacts{
    color: #FDA3C4;
    font-family: Montserrat;
    font-size: 11px;
    font-style: italic;
    font-weight: 700;
    height: 30px;
    @media (min-width: 1440px){
        display: flex;
        font-size: 12px;
    }
}
.adressContact{
    display: flex;
    align-items: center;
    width: 200px;
    @media (min-width: 1440px){
        width: 165px;
    }
    
  
}
.adressText{
    margin-left: 7px;
    width: 170px;
}
.phoneContact{
    display: flex;
    align-items: center;
}
.phoneText{
    margin-left: 10px;
    width: 121px;
}