.search{
    display: flex;
    align-items: center;
    height: 24px;
    margin-left: 100px;
    @media (min-width: 1440px){
        margin-left: 90px;
        width: 81px;
    }
    @media (min-width: 1440px){
        margin-left: 90px;
        width: 81px;
    }
     
}
.searchText{
    margin-left: 8px;
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 700;
    @media (min-width: 1440px){
        margin-left: 16px;
        font-size: 12px;
    }
}
.searchIcon{
    width: 20px;
    height: 20px;
    @media (min-width: 1440px){
        width: 24px;
        height: 24px;
    }
}
